body{
    font-family: "'Montserrat', sans-serif";
    height: 100vh;
}
.item{
    color: white;
    text-align: center;
            background: #565656;
            height: 100%;
            
        }

.loghead{
    text-align: center;
    padding: 20px 13px;
    height: 650px;
    margin: 15px;
    border-radius: 10px;
    background-color: #d3d1d133;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.profile{
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    margin: auto;
    
}

.logdet{
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
    
    font-weight: bold;
    letter-spacing: 1px;
}
.details{
    border: none;
    padding: 7px;
    width: 80%;
    margin: 5px 2px;
}
.details:focus{
    outline: none;
}
.inp-container{

    display: flex;
    /* border: 1px solid #00000026; */
    border-radius: 50px;
    margin: 6px;
    background: white;
}
.logform{
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 14px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
    left: 0;
}
.icon{
    padding: 10px 0;
  margin: 5px 0;
  color:black;
  min-width: 50px;
  text-align: center;
}
.verify{
    color: black;
    float: none;
    width: 20%;
    font-weight: bold;
    font-style: italic;
    margin: auto;
    margin-right: 9px;
    text-align: center;
    font-size: 15px;
}

.bholder{
    display: flex;
    margin: 5px;
    padding: 8px;
}
.bholder2{
    /* display: flex; */
    margin: 5px;
    padding: 8px;
}

.bluebutt{
    background: #007bff;
          color: white;
          transition: 0.1s ease;
          border: none;
          box-shadow: none;
          width: 50%;
    text-align: center;
    border: none;
    padding: 10px;
    border-radius: 28px;
    margin: 5px;
}
.bluebutt:hover{
    box-shadow: 0px 2px 8px rgba(0,0,0,0.25), 0px 4px 5px rgba(0,0,0,0.22);
}
.bluebutt:focus{
    box-shadow: none;
}

.buttos{
    width: 50%;
    text-align: center;
    
    border: none;
    padding: 10px;
    border-radius: 28px;
    margin: 5px;
    background: white;
}
.buttos:focus{
    outline: none;
}
.bluebutt:focus{
    outline: none;
}
.signlink{
    display: inline-flex;
    position: absolute;
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
    left: 50%;
    bottom: 7%;
    width: 300px;
    margin-left: -150px
}
.opno{
    opacity: 0;
    transition: .2s ease;
    z-index: 5;
}
.opyes{
    opacity: 1;
    transition: .2s ease;
    z-index: 6;
}

.signlink p{
    margin: 0 auto;
    margin-right: 0;
}


.signlink button{
    border: none;
    background: transparent;
    padding: 0;
    margin: 0 auto;
    margin-left: 0;
    color: #007bff;
    height: fit-content;
}
.signlink button:focus{
    outline: none;
}

/* signup form */
.hiden{
    /* transform: translateX(50%); */
    opacity: 0;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
   
    z-index: 3;
}



/* social buttons*/
.social-containers {
	margin: 20px 0;
}

.social-containers a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}
.social{
    transition: 0.19s ease-in;
}
.social-containers a:hover{
    text-decoration: none;
}
.fb:hover{
    color: white;
    background-color: #3b5998;
}
.gp:hover{
    color: white;
    background-color: #db4a39;
}
.ln:hover{
    color: white;
    background-color: #0e76a8;
}
.fb{
    color: #3b5998;;
}
.gp{
    color: #db4a39;   
}
.ln{
    color: #0e76a8;
}
/*  */

.rightactive{
    transform: translateX(-20%);
    opacity: 0;
    width: 0%;
    transition: width 0s, 0.3s ease-in;
}

.rightactivebak{
    transform: translateX(0%);
    opacity: 1;
    width: 100%;
    transition: width 0s, 0.3s ease-in;
}
.leftactive{
    transform: translateX(0%);
    opacity: 1;
    transition: width 0s, 0.3s ease-in;
    width: 100%;
    z-index: 6;
}

.leftactivebak{
    transform: translateX(20%);
    opacity: 0;
    transition: width 0s, 0.3s ease-in;
    z-index: 3;
    width: 0%;
}

.formholder{
    position: relative;
    width: 100%;
    height: 320px;

}



